body,html{
  margin: 0;
  padding: 0 ;
  width: 100%;
  height: 100%;
}
body{
  background: url(../images/blog-01.jpg) 60% 60% ;
  background-size: cover;
  font-family: "Montserrat",sans-serif;
}
.cont{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.cont h1{
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  letter-spacing: 10px;
}

.time{
  margin: 40px 0;
}
.date{
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}
.date span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}
